artik-api.json
[{"id":"e2f7933c.d2e498","type":"http request","z":"8d5d9228.f4743","name":"Get USER-ID","method":"GET","ret":"obj","url":"https://api.artik.cloud/v1.1/users/self","tls":"8a32f991.12049","x":598,"y":322,"wires":[["dc75c98b.a0cdf8"]]},{"id":"ffc314a4.859c58","type":"debug","z":"8d5d9228.f4743","name":"DEBUG YOUR-USER-ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.data.id","x":1205,"y":215,"wires":[]},{"id":"7ae90b8a.6508d4","type":"function","z":"8d5d9228.f4743","name":"set Artik header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + global.get ('YOUR-TOKEN');\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":324,"wires":[["e2f7933c.d2e498"]]},{"id":"d538a07.84b9de","type":"http request","z":"8d5d9228.f4743","name":"Get device types","method":"GET","ret":"obj","url":"","tls":"8a32f991.12049","x":702.5,"y":371,"wires":[["be098674.e5b78","cd50a2c6.3c8c2"]]},{"id":"6d3902bd.12d1ac","type":"inject","z":"8d5d9228.f4743","name":"trigger once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":103,"y":321,"wires":[["7ae90b8a.6508d4"]]},{"id":"3a4f5db7.291cd2","type":"function","z":"8d5d9228.f4743","name":"URL GET devicetypes","func":"msg.url = 'https://api.artik.cloud/v1.1/users/'+global.get('YOUR-USER-ID')+'/devicetypes';\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":397,"wires":[["d538a07.84b9de"]]},{"id":"ecc2dcbf.9671e8","type":"inject","z":"8d5d9228.f4743","name":"trigger once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99,"y":374,"wires":[["ec982374.1ca8c8"]]},{"id":"ec982374.1ca8c8","type":"function","z":"8d5d9228.f4743","name":"set Artik header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + global.get ('YOUR-TOKEN');\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":393.5,"y":361,"wires":[["3a4f5db7.291cd2"]]},{"id":"5eb48993.fd93a8","type":"comment","z":"8d5d9228.f4743","name":"NODE-RED for Samsung Artik demo (c) 2018 Gambit Communications, Inc (double-click for copyright)","info":"Copyright (c) 2018 Gambit Communications, Inc.\nDistributed under GNU GPL\nhttps://www.gnu.org/licenses/gpl.html\n\n\nThis exercises the Samsung Artik API to\nretrieve info for a Samsung Application\nThe only thing needed is the \"Bearer token\"\nthat is used in the API at\nhttps://developer.artik.cloud/api-console/\n\nThis bearer token has to be input into the\ndashboard Bearer token input form, then\npress SUBMIT, everything derives from there.\n","x":370,"y":145,"wires":[]},{"id":"bb74a2ca.6645e8","type":"ui_text","z":"8d5d9228.f4743","group":"c610811a.760a6","order":1,"width":0,"height":0,"name":"","label":"YOUR-USER-ID","format":"{{msg.payload.data.id}}","layout":"col-center","x":1258,"y":324,"wires":[]},{"id":"15fbeba9.515c34","type":"ui_form","z":"8d5d9228.f4743","name":"","label":"Artik Bearer Token","group":"50bd9e62.40dd6","order":1,"width":0,"height":0,"options":[{"label":"Bearer","value":"token","type":"text","required":true}],"formValue":{"token":""},"payload":"","topic":"","x":95,"y":247,"wires":[["4e6253c2.b4032c","975b240c.f01ed"]]},{"id":"be098674.e5b78","type":"change","z":"8d5d9228.f4743","name":"Extract array of device types","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.deviceTypes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":938,"y":407,"wires":[["8d1d8b4d.e16888"]]},{"id":"cd50a2c6.3c8c2","type":"ui_text","z":"8d5d9228.f4743","group":"c610811a.760a6","order":2,"width":0,"height":0,"name":"","label":"Device Types","format":"{{msg.payload.count}}","layout":"row-spread","x":1262,"y":382,"wires":[]},{"id":"4e6253c2.b4032c","type":"change","z":"8d5d9228.f4743","name":"Retrieving...","rules":[{"t":"set","p":"payload.data.id","pt":"msg","to":"Retrieving...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":849,"y":260,"wires":[["bb74a2ca.6645e8"]]},{"id":"975b240c.f01ed","type":"trigger","z":"8d5d9228.f4743","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":333,"y":277,"wires":[["cf46876f.7983"]]},{"id":"2846d25d.2447b6","type":"inject","z":"8d5d9228.f4743","name":"trigger to clear","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":511,"y":209,"wires":[["f8d943f0.7d0ca","cd50a2c6.3c8c2","8d1d8b4d.e16888","d7a84837.037b08","937c73f4.82e4a8"]]},{"id":"8d1d8b4d.e16888","type":"ui_template","z":"8d5d9228.f4743","group":"c610811a.760a6","name":"Type list","order":3,"width":0,"height":0,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>ID</span>\n  <span flex>Name</span>\n</div>\n<div ng-repeat=\"m in msg.payload\">\n    <span>{{m.id}}</span> \n    <span>{{m.name}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1275,"y":445,"wires":[[]]},{"id":"f8d943f0.7d0ca","type":"change","z":"8d5d9228.f4743","name":"clear YOUR-USER-ID","rules":[{"t":"set","p":"YOUR-USER-ID","pt":"global","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":753,"y":220,"wires":[["bb74a2ca.6645e8"]]},{"id":"cf46876f.7983","type":"change","z":"8d5d9228.f4743","name":"store YOUR-TOKEN","rules":[{"t":"set","p":"YOUR-TOKEN","pt":"global","to":"payload.token","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":538,"y":281,"wires":[["7ae90b8a.6508d4"]]},{"id":"dc75c98b.a0cdf8","type":"change","z":"8d5d9228.f4743","name":"store YOUR-USER-ID","rules":[{"t":"set","p":"YOUR-USER-ID","pt":"global","to":"payload.data.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":835,"y":323,"wires":[["bb74a2ca.6645e8","ffc314a4.859c58","ec982374.1ca8c8"]]},{"id":"c56d4aca.9e0398","type":"inject","z":"8d5d9228.f4743","name":"trigger once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120.5,"y":563,"wires":[["ac3a75ac.a6f458"]]},{"id":"ac3a75ac.a6f458","type":"function","z":"8d5d9228.f4743","name":"set Artik header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + global.get ('YOUR-TOKEN');\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":290.5,"y":563,"wires":[["8dbf166.54e3668"]]},{"id":"8dbf166.54e3668","type":"function","z":"8d5d9228.f4743","name":"URL GET devices","func":"msg.url = 'https://api.artik.cloud/v1.1/users/'+global.get('YOUR-USER-ID')+'/devices';\nreturn msg;","outputs":1,"noerr":0,"x":476.5,"y":563,"wires":[["3084a5ba.185e42"]]},{"id":"3084a5ba.185e42","type":"http request","z":"8d5d9228.f4743","name":"Get devices (only 100)","method":"GET","ret":"obj","url":"","tls":"8a32f991.12049","x":691.5,"y":543,"wires":[["899dcb54.ded828","d7a84837.037b08"]]},{"id":"d7a84837.037b08","type":"ui_text","z":"8d5d9228.f4743","group":"c610811a.760a6","order":4,"width":0,"height":0,"name":"","label":"Devices","format":"{{msg.payload.count}}","layout":"row-spread","x":1276.5,"y":521,"wires":[]},{"id":"899dcb54.ded828","type":"change","z":"8d5d9228.f4743","name":"Extract array of devices","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data.devices","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":939.5,"y":570,"wires":[["937c73f4.82e4a8","a8784325.bd40e8","52025cc6.63b2c4","1ddb3d9.f4049c2"]]},{"id":"937c73f4.82e4a8","type":"ui_template","z":"8d5d9228.f4743","group":"c610811a.760a6","name":"Device list","order":5,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>ID</span>\n  <span flex>Type</span>\n  <span flex>Name</span>\n</div>\n<div ng-repeat=\"m in msg.payload\">\n    <span>{{m.id}}</span> \n    <span>{{m.dtid}}</span>\n    <span>{{m.name}}</span>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1274.5,"y":573,"wires":[[]]},{"id":"37630cbc.8e3874","type":"ui_form","z":"8d5d9228.f4743","name":"","label":"Clone Devices","group":"2d9de0de.415fa8","order":0,"width":0,"height":0,"options":[{"label":"Device Type","value":"dtid","type":"text","required":true},{"label":"Start","value":"start","type":"text","required":true},{"label":"End","value":"end","type":"text","required":true},{"label":"Name","value":"name","type":"text","required":false}],"formValue":{"dtid":"","start":"","end":"","name":""},"payload":"","topic":"","x":110,"y":888,"wires":[["124b35fd.6284e2"]]},{"id":"a8784325.bd40e8","type":"file","z":"8d5d9228.f4743","name":"/tmp/device.lst","filename":"/tmp/device.lst","appendNewline":true,"createDir":false,"overwriteFile":"true","x":1265,"y":654,"wires":[]},{"id":"124b35fd.6284e2","type":"function","z":"8d5d9228.f4743","name":"for-loop","func":"var msglist = [];\nfor (var i = Number(msg.payload.start); i <= Number(msg.payload.end); i++) {\n    var payload = {};\n    payload.i = i;\n    payload.dtid = msg.payload.dtid;\n    payload.name = msg.payload.name;\n    msglist.push({payload:payload});\n}\nreturn [msglist];","outputs":1,"noerr":0,"x":282,"y":890,"wires":[["75306b05.99356c"]]},{"id":"75306b05.99356c","type":"function","z":"8d5d9228.f4743","name":"set Artik header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + global.get ('YOUR-TOKEN');\n\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":898,"wires":[["dfdcaae9.9af9c"]]},{"id":"5f572da6.a96bb4","type":"http request","z":"8d5d9228.f4743","name":"Create device","method":"POST","ret":"obj","url":"https://api.artik.cloud/v1.1/devices","tls":"7e2e6e38.12ef9","x":850,"y":906,"wires":[["6ac31a07.0baa0c"]]},{"id":"6ac31a07.0baa0c","type":"debug","z":"8d5d9228.f4743","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1276,"y":933,"wires":[]},{"id":"dfdcaae9.9af9c","type":"function","z":"8d5d9228.f4743","name":"set Artik payload","func":"var payload = msg.payload;\nmsg.payload = '{\"uid\": \"'+\n    global.get ('YOUR-USER-ID') +\n    '\", \"dtid\": \"' +\n    payload.dtid +\n    '\", \"name\": \"' +\n    payload.name + payload.i +\n    '\", \"manifestVersion\":-1, \"manifestVersionPolicy\":\"LATEST\"}';\nreturn msg;","outputs":1,"noerr":0,"x":651,"y":902,"wires":[["5f572da6.a96bb4"]]},{"id":"72acb298.0267fc","type":"comment","z":"8d5d9228.f4743","name":"5. Add more devices of an existing device type","info":"https://developer.artik.cloud/api-console/\n\nAdd Device operation under Devices\n","x":194,"y":841,"wires":[]},{"id":"3f2589ff.381cc6","type":"comment","z":"8d5d9228.f4743","name":"3. Get list of devices","info":"https://developer.artik.cloud/api-console/\n\nGet User Devices operation under Users category\n","x":104,"y":511,"wires":[]},{"id":"a091b3f6.358db","type":"file in","z":"8d5d9228.f4743","name":"Read devices from file","filename":"/tmp/device.lst","format":"utf8","chunk":false,"sendError":false,"x":456,"y":1085,"wires":[["a96f3ca0.2dccb"]]},{"id":"26a01cfc.29edcc","type":"inject","z":"8d5d9228.f4743","name":"trigger once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":112,"y":1060,"wires":[["8dce8c89.715b68"]]},{"id":"a3b7e642.88aa78","type":"comment","z":"8d5d9228.f4743","name":"7. Update device tokens","info":"","x":115,"y":1017,"wires":[]},{"id":"a96f3ca0.2dccb","type":"json","z":"8d5d9228.f4743","name":"","property":"payload","action":"","pretty":false,"x":632,"y":1007,"wires":[["b75db528.b37508"]]},{"id":"b75db528.b37508","type":"split","z":"8d5d9228.f4743","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":678,"y":1056,"wires":[["921fef74.767b88"]]},{"id":"381487d6.6fd8c8","type":"comment","z":"8d5d9228.f4743","name":"Delete devices","info":"","x":95,"y":1126,"wires":[]},{"id":"bf347b8f.b16f9","type":"file in","z":"8d5d9228.f4743","name":"Read devices from file","filename":"/tmp/device.lst","format":"utf8","chunk":false,"sendError":false,"x":298,"y":1172,"wires":[["c9f00db7.5a51"]]},{"id":"5d9d5323.371564","type":"inject","z":"8d5d9228.f4743","name":"trigger once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":1170,"wires":[["bf347b8f.b16f9"]]},{"id":"c9f00db7.5a51","type":"json","z":"8d5d9228.f4743","name":"","property":"payload","action":"","pretty":false,"x":469,"y":1178,"wires":[["621a809f.0da64"]]},{"id":"621a809f.0da64","type":"split","z":"8d5d9228.f4743","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":594,"y":1182,"wires":[["a5239fc2.a81fa"]]},{"id":"a5239fc2.a81fa","type":"function","z":"8d5d9228.f4743","name":"set Artik header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + global.get ('YOUR-TOKEN');\n\nreturn msg;","outputs":1,"noerr":0,"x":742,"y":1180,"wires":[["3dab0a9.087ebf6"]]},{"id":"2f18c88c.a99a","type":"http request","z":"8d5d9228.f4743","name":"Delete device","method":"DELETE","ret":"obj","url":"","tls":"7e2e6e38.12ef9","x":1165,"y":1178,"wires":[[]]},{"id":"3dab0a9.087ebf6","type":"function","z":"8d5d9228.f4743","name":"URL DELETE device","func":"msg.url = 'https://api.artik.cloud/v1.1/devices/'+msg.payload.id+'?userId='+global.get('YOUR-USER-ID');\nmsg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":942,"y":1176,"wires":[["2f18c88c.a99a"]]},{"id":"921fef74.767b88","type":"function","z":"8d5d9228.f4743","name":"set Artik header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + global.get ('YOUR-TOKEN');\n\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":1012,"wires":[["b2431f8d.082ce"]]},{"id":"b2431f8d.082ce","type":"function","z":"8d5d9228.f4743","name":"URL update token","func":"msg.url = 'https://api.artik.cloud/v1.1/devices/'+msg.payload.id+'/tokens?userId='+global.get('YOUR-USER-ID');\nmsg.payload = '{}';\nreturn msg;","outputs":1,"noerr":0,"x":881,"y":1053,"wires":[["21ef6911.1adbb6"]]},{"id":"21ef6911.1adbb6","type":"http request","z":"8d5d9228.f4743","name":"Update token","method":"PUT","ret":"obj","url":"","tls":"7e2e6e38.12ef9","x":1002,"y":1090,"wires":[["8bbbf8f3.035168","62873255.f620cc"]]},{"id":"8bbbf8f3.035168","type":"file","z":"8d5d9228.f4743","name":"/tmp/tokens.lst","filename":"/tmp/tokens.lst","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1272,"y":1122,"wires":[]},{"id":"1c89868f.c2a4b1","type":"file","z":"8d5d9228.f4743","name":"/tmp/tokens.lst","filename":"/tmp/tokens.lst","appendNewline":true,"createDir":false,"overwriteFile":"true","x":449,"y":1026,"wires":[]},{"id":"52025cc6.63b2c4","type":"ui_template","z":"8d5d9228.f4743","group":"6e7c16dd.656348","name":"/tmp/device.lst","order":1,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex></span>\n</div>\n<div ng-repeat=\"m in msg.payload\">\n    <span>{{m}}</span> \n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1265,"y":611,"wires":[[]]},{"id":"b2a28ffd.cc8b9","type":"comment","z":"8d5d9228.f4743","name":"1. Input Bearer Token from API console","info":"","x":165,"y":197,"wires":[]},{"id":"e8cb3481.538cc","type":"comment","z":"8d5d9228.f4743","name":"4. Add rules","info":"","x":92,"y":654,"wires":[]},{"id":"1c5c30b9.408ab7","type":"function","z":"8d5d9228.f4743","name":"set Artik header","func":"msg.headers = {};\nmsg.headers['Content-Type'] = 'application/json';\nmsg.headers['Authorization'] = 'Bearer ' + global.get ('YOUR-TOKEN');\n\nreturn msg;","outputs":1,"noerr":0,"x":895,"y":744,"wires":[["4ab1da4b.7d2ef4"]]},{"id":"4ba95a15.99ee64","type":"http request","z":"8d5d9228.f4743","name":"Add rule","method":"POST","ret":"obj","url":"","tls":"7e2e6e38.12ef9","x":1148,"y":728,"wires":[["419a3351.7da2cc","9f4fbcd3.c929f8"]]},{"id":"4ab1da4b.7d2ef4","type":"function","z":"8d5d9228.f4743","name":"URL Add rule","func":"msg.url = 'https://api.artik.cloud/v1.1/rules?userId='+global.get('YOUR-USER-ID');\n\nreturn msg;","outputs":1,"noerr":0,"x":978,"y":787,"wires":[["4ba95a15.99ee64"]]},{"id":"81fda071.9b0098","type":"ui_template","z":"8d5d9228.f4743","group":"d1e3711b.14ccf8","name":"/tmp/tokens.lst","order":5,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex></span>\n</div>\n<div ng-repeat=\"m in msg.payload\">\n    <span>{{m}}</span> \n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1289,"y":1075,"wires":[[]]},{"id":"62873255.f620cc","type":"join","z":"8d5d9228.f4743","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1128,"y":1052,"wires":[["81fda071.9b0098"]]},{"id":"419a3351.7da2cc","type":"debug","z":"8d5d9228.f4743","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1285,"y":719,"wires":[]},{"id":"9a1690af.4d065","type":"ui_form","z":"8d5d9228.f4743","name":"","label":"Or add single rule","group":"48d24b12.c44654","order":0,"width":0,"height":0,"options":[{"label":"Rule JSON","value":"data","type":"text","required":true}],"formValue":{"data":""},"payload":"","topic":"","x":109,"y":802,"wires":[["9cf2f53d.26235"]]},{"id":"9cf2f53d.26235","type":"change","z":"8d5d9228.f4743","name":"get payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":276,"y":766,"wires":[["b807dcb9.c03ac"]]},{"id":"c2151277.855778","type":"split","z":"8d5d9228.f4743","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":599,"y":790,"wires":[["7898f697.2527c8"]]},{"id":"b807dcb9.c03ac","type":"json","z":"8d5d9228.f4743","name":"","property":"payload","action":"","pretty":false,"x":431,"y":767,"wires":[["c2151277.855778"]]},{"id":"59ace5dd.9eead4","type":"inject","z":"8d5d9228.f4743","name":"trigger once","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":95,"y":707,"wires":[["2d71c19b.84c9be"]]},{"id":"2d71c19b.84c9be","type":"file in","z":"8d5d9228.f4743","name":"Read rules from file","filename":"/tmp/rules.lst","format":"utf8","chunk":false,"sendError":false,"x":270,"y":706,"wires":[["38bdd421.f18574"]]},{"id":"a8540831.319f7","type":"change","z":"8d5d9228.f4743","name":"get payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":571,"y":711,"wires":[["c2151277.855778"]]},{"id":"38bdd421.f18574","type":"json","z":"8d5d9228.f4743","name":"","property":"payload","action":"","pretty":false,"x":430,"y":706,"wires":[["a8540831.319f7"]]},{"id":"7898f697.2527c8","type":"change","z":"8d5d9228.f4743","name":"set actuator ddid","rules":[{"t":"set","p":"payload.rule.then.0.ddid","pt":"msg","to":"ACTUATOR","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":761,"y":788,"wires":[["1c5c30b9.408ab7"]]},{"id":"93838332.236768","type":"comment","z":"8d5d9228.f4743","name":"2. Add MQTT Actuator and Bosch sensor in Artik dashboard","info":"","x":236,"y":465,"wires":[]},{"id":"8a4162e7.5599a","type":"comment","z":"8d5d9228.f4743","name":"6. Repeat step 3.","info":"","x":87,"y":965,"wires":[]},{"id":"6c49843d.08e0b4","type":"switch","z":"8d5d9228.f4743","name":"Extract Actuator ddid","property":"payload.dtid","propertyType":"msg","rules":[{"t":"eq","v":"dtf761707eaae64c129ad931a7682f46b0","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":769,"y":642,"wires":[["3566a5e6.4db60a"]]},{"id":"1ddb3d9.f4049c2","type":"split","z":"8d5d9228.f4743","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":587,"y":639,"wires":[["6c49843d.08e0b4"]]},{"id":"3566a5e6.4db60a","type":"change","z":"8d5d9228.f4743","name":"store ACTUATOR","rules":[{"t":"set","p":"ACTUATOR","pt":"global","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":985,"y":641,"wires":[[]]},{"id":"382dbd23.569b0a","type":"ui_button","z":"8d5d9228.f4743","name":"","group":"d7e70ea5.82a04","order":2,"width":0,"height":0,"passthru":false,"label":"Do it!","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":103,"y":597,"wires":[["ac3a75ac.a6f458"]]},{"id":"634855d8.5670c4","type":"ui_button","z":"8d5d9228.f4743","name":"","group":"48d24b12.c44654","order":2,"width":0,"height":0,"passthru":false,"label":"Do it!","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":78,"y":754,"wires":[["2d71c19b.84c9be"]]},{"id":"5b6db64b.1bf07","type":"ui_button","z":"8d5d9228.f4743","name":"","group":"3e19c33a.fe33a4","order":2,"width":0,"height":0,"passthru":false,"label":"Do it!","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":75,"y":1093,"wires":[["8dce8c89.715b68"]]},{"id":"8dce8c89.715b68","type":"change","z":"8d5d9228.f4743","name":"NOOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":273,"y":1072,"wires":[["1c89868f.c2a4b1","a091b3f6.358db"]]},{"id":"79658cd3.41237c","type":"ui_text","z":"8d5d9228.f4743","group":"9c55759d.e7076","order":0,"width":0,"height":0,"name":"","label":"Repeat step 3.","format":"{{msg.payload}}","layout":"row-spread","x":291,"y":972,"wires":[]},{"id":"9f4fbcd3.c929f8","type":"ui_text","z":"8d5d9228.f4743","group":"cb6deb5b.097338","order":0,"width":0,"height":0,"name":"","label":"Check 3 rules created in Artik dashboard","format":"{{}}","layout":"row-spread","x":1392,"y":800,"wires":[]},{"id":"8a32f991.12049","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"c610811a.760a6","type":"ui_group","z":"","name":"Output","tab":"f242282f.2f8338","order":2,"disp":true,"width":"20","collapse":false},{"id":"50bd9e62.40dd6","type":"ui_group","z":"","name":"Input","tab":"f242282f.2f8338","order":1,"disp":true,"width":"6","collapse":false},{"id":"2d9de0de.415fa8","type":"ui_group","z":"","name":"Clone Devices","tab":"ce01514.ea89c3","order":3,"disp":true,"width":"6","collapse":false},{"id":"7e2e6e38.12ef9","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false},{"id":"6e7c16dd.656348","type":"ui_group","z":"","name":"Copy/paste these entries into MIMIC lab \"Assign device names\" ONLY in Step 6.","tab":"50af9faa.f6059","order":2,"disp":true,"width":"20","collapse":false},{"id":"d1e3711b.14ccf8","type":"ui_group","z":"","name":"Copy/paste these entries into MIMIC lab \"Authorize devices\"","tab":"ae015d6.b07822","order":2,"disp":true,"width":"20","collapse":false},{"id":"48d24b12.c44654","type":"ui_group","z":"","name":"Input","tab":"5c61755b.7ca7bc","order":1,"disp":true,"width":"6","collapse":false},{"id":"d7e70ea5.82a04","type":"ui_group","z":"","name":"Input","tab":"50af9faa.f6059","order":1,"disp":true,"width":"6","collapse":false},{"id":"3e19c33a.fe33a4","type":"ui_group","z":"","name":"Input","tab":"ae015d6.b07822","order":1,"disp":true,"width":"6","collapse":false},{"id":"9c55759d.e7076","type":"ui_group","z":"","name":"Goto step 3","tab":"9bef41dd.dc4458","order":1,"disp":true,"width":"6","collapse":false},{"id":"cb6deb5b.097338","type":"ui_group","z":"","name":"Output (in Artik)","tab":"5c61755b.7ca7bc","order":2,"disp":true,"width":"6","collapse":false},{"id":"f242282f.2f8338","type":"ui_tab","z":"","name":"1. Input Bearer Token from API console","icon":"dashboard","order":1},{"id":"ce01514.ea89c3","type":"ui_tab","z":"","name":"5. Clone devices","icon":"dashboard","order":5},{"id":"50af9faa.f6059","type":"ui_tab","z":"","name":"3. Get list of devices","icon":"dashboard","order":3},{"id":"ae015d6.b07822","type":"ui_tab","z":"","name":"7. Update device tokens","icon":"dashboard","order":7},{"id":"5c61755b.7ca7bc","type":"ui_tab","z":"","name":"4. Add rules","icon":"dashboard","order":4},{"id":"9bef41dd.dc4458","type":"ui_tab","z":"","name":"6. Repeat step 3","icon":"dashboard","order":6}]